name: Publish plugin to hub
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  publish-plugin-to-hub:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-1.21.1-publish-plugin-to-hub-cache
          restore-keys: |
            ${{ runner.os }}-go-1.21.1-publish-plugin-to-hub-cache
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false

      - name: Run package command
        run: |
          VERSION=${{ github.ref_name }} make dist

      - name: Setup CloudQuery
        uses: cloudquery/setup-cloudquery@v4
        with:
          version: v3.28.0

      - name: Publish plugin to hub
        run: |
          CLOUDQUERY_API_KEY="${{ secrets.CQ_CI_CLOUDQUERY_API_KEY }}" cloudquery plugin publish --finalize
